<html><!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">

  </head>

<body>

<div id="wrapper">
    <h1 id="heading">TODO LIST</h1>
    <h5 id="subheading">A list for important tasks</h5>
    <form action="{% url 'todo:add_task' %}" method="post">
        {% csrf_token %}
        <input type="text" name="task" id="text-box" placeholder="Enter a New Task.."></input>
        <input type="text" name="description" id="text-box" placeholder="Enter a description.."></input>
   <input type="submit" id="submit" value="Add Task">
    </form>


<a href="{% url 'todo:export_users_csv' %}">
    <button id="download">Export to CSV</button>
</a>

    <a href="{% url 'todo:export_users_xlsx' %}">
    <button id="download">Export to Excel</button>
</a>

<table>
    <tr>
        <th>Task</th>
        <th>Sub-task</th>
        <th>Delete</th>
    </tr>
{% if task_list %}
    {% for task in task_list %}
    <tr>
        <td>{{ task.task_name }}</td>
        <td>{{ task.description }}</td>
        <td>
        <form action="{% url 'todo:delete_task' %}" method="post">
            {% csrf_token %}
            <input type="text" name="task_name" value="{{task.task_name}}" style="display:none"></input>
            <input type="submit" value="X">
        </form>
        </td>
    </tr>
    {% endfor %}

{% else %}
    <p>No task available</p>
{% endif %}
</table>

</div>
</body>

<script>
    console.log('yes');

</script>



</html>

